@media screen and (max-width: 1325px) {
    .main-container .list-item:nth-child(3n):hover{
        transform: translateX(-28px) translateY(16px);
    }
}

@media screen and (max-width: 1200px) {
    .main-container .list-item {
        width: calc(100% / 2 - 10px);
    }


    .main-container .list-item:hover,
    .main-container .list-item:nth-child(3n):hover {
        scale: 1.1;
        transform: translateX(25px) translateY(9px);
    }

    .main-container .list-item:nth-child(even):hover{
        transform: translateX(-25px) translateY(9px);
    }
}

@media screen and (max-width: 800px) {
    .main-container .list-item {
        width: calc(100% / 1 - 10px);
        min-height: 15vh;
    }

    .main-container .list-item:hover,
    .main-container .list-item:nth-child(3n):hover {
        scale: 1.03;
        transform: translateX(0) translateY(0);
    }

    .main-container .list-item:nth-child(even):hover{
        transform: translateX(0) translateY(0);
    }

    .main-container .work-content .work-image{
        height: 30vh;
    }
}

.work-content {
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 15px;
}

.work-content h3 {
    color: white;
    font-size: var(--sub-heading);
    display: flex;
    gap: 10px;
}

.work-content h3::before {
    content: '';
    background-color: var(--pink);
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--pink));
    border-radius: 10px 0;
}

.work-content .list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.list-item {
    position: relative;
    width: calc(100% / 3 - 10px);
    min-height: 200px;
    display: flex;
    transition: all 300ms;
    border-radius: 10px;
}

.list-item::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(215deg, rgba(40, 38, 39, 0.32) 0%, rgba(40, 38, 39, 1) 100%);
    z-index: 10;
    border-radius: 10px;
}

.list-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0.3) brightness(0.5);
    border-radius: 10px;
}

.list-item .short-description {
    position: relative;
    z-index: 15;
    opacity: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.list .short-description h5 {
    font-size: 1.2em;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}

.list .short-description p {
    color: white;
    font-size: 0.7em;
    text-shadow: 0 0 1px black, 0 0 10px black, 0 0 20px black;
}

.list .short-description button {
    align-self: end;
    margin-top: 1em;
    width: fit-content;
    color: var(--pink);
    font-weight: 800;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.477);
    background-color: transparent;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
}

.list-item:hover {
    scale: 1.2;
    transform: translateX(30px) translateY(16px);
    z-index: 50;
}

.list-item:hover .short-description {
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.list-item:hover img {
    filter: grayscale(0);
}

.work-content .work-image{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
}

.work-content .work-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.work-content h2 {    
    color: var(--pink);
    /* text-shadow: 0 0 2px white; */
    font-size: calc(var(--sub-heading) + 0.8em);
    display: flex;
    gap: 10px;
}

.work-content h3 {        
    font-size: calc(var(--sub-heading) - 0.5em); 
}

.work-content .heading{
    margin-top: 1.2em;
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 10px;
}

/* .work-content h2::before {
    content: '';
    background-color: var(--pink);
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--pink));
    border-radius: 10px 0;
} */

.work-content p.description{
    margin-top: 1.3em;
    color: white;
    font-size: 1em;
    text-align: justify;
    letter-spacing: 1px;
}

.work-content p.tags{
    color: white;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.work-content ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.work-content ul li{
    background-color: var(--pink);
    padding: 3px 20px;
    border-radius: 5px;
    color: var(--gray);
    font-weight: bold;
}

.work-image-list img{
    width: 100%;
    display: block;
    margin-bottom: 1em;
}

.work-image-list{
    padding-top: 2rem;
    columns: 3 200px;
    column-gap: 1em;
}